<div class="top-wrapper">
    <div class="welcome">
        <h1>Wayfarer.</h1>
    </div>
    <div class="enter">
        <a href="/users/login" class="waves-effect  waves-light  btn  btn-large  opac-btn">log in</a>
        <a href="/users/signup" class="waves-effect  waves-light  btn  btn-large  opac-btn">sign up</a>
    </div>
</div>
    