<div class="jumbotron">
	<h1 class="display-4">PROJECT WAYFARER</h1>
	<p class="lead">Welcome to the destination for the best travel trips and tips.</p>
	<hr class="my-4">
	<p>add your favorite location and tell us your favorite place to travel.</p>
	<a class="btn btn-primary btn-lg" href="/users/login" role="button">Log In</a>
	<a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign Up</a>
</div>