<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Materialize JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="/static/stylesheets/main.css"/>
</head>
<body>
		<% include ./partials/navbar %>
		<%- body %>
</body>
</html>