<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="/static/stylesheets/main.css"/>
</head>
<body>	
		<% if( loggedIn ){ %>
		<% include ./partials/navbar %>
		<% } %>
		<%- body %>
</body>
</html>