<div class="container">
<div class="jumbotron jumbotron-fluid">
	<div class="container">
    <ul class="collection">
        <li class="collection-item avatar">
          <img src="https://cdn3.iconfinder.com/data/icons/nature-37/120/tempaltaaaeaqas-512.png" alt="" class="circle">
          <h1 class="display-4"><%= user.name %></h1>
          <p class="lead">
              <%= user.currentcity %> |
              joined: <%= moment(user.createdAt).fromNow() %>
              <a href="/users/profile/edit">Edit Profile</a>
          </p>  
    </li>
	</div>
</div>

<a href="/locations" class="locations waves-effect waves-light btn-large">view locations</a>

<h2>Recent Posts</h2>
<% posts.forEach(p => { %>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-body">
    <h5 class="card-title"><%= p.title %></h5>
    <a href="#" class="btn btn-primary">Full Post</a>
  </div>
</div>
  <% }) %>
</div>