<div class="container">
    <% payload.forEach(p => { %>
        <div class="row">
            <div class="col l4">
                    <h1><%= p.city %></h1>
                    <img class="responsive-img" src="<%= p.pic %>">
            </div>
            <div class="col l8">
            </div>
        </div>
    <% }) %>
</div>