<div class="container">
<h1> <%= location.city %></h1>
<img src="<%= location.pic %>"/>
<ul class="collection">
    <% location.posts.forEach (p => { %>
    <li class="collection-item"> <%= p.title %></li>
    <% }) %>
</ul>
</div>