
.brand-logo {
    font-family: 'Pacifico', cursive;
}

.top-wrapper {

    background-image: url(https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=834f1b12a2f3cfb7ae5c2dbfd33d0607&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
    color: white;
    height: 100vh;
    }
    
.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Pacifico', cursive;
    }



.opac-btn {
    background: rgba(255,255,255,.7);
    color: #000;
    font-size: 20px;
    border: 2px double #fff;
}

.enter {
        display: flex;
        justify-content: center;
        margin-top: 300px;    
}

.locations {
    float: right;
}

.collection-item img {
    margin-top: 60px;
}

h5 {
    font-family: 'Bree Serif', serif;
}

p {
    font-family: 'Bree Serif', serif;
}

.display-4 {
    font-family: 'Bree Serif', serif;
}

h2 {
    font-family: 'Bree Serif', serif;
}

.delete {
    margin-left: 750px;
    margin-top: -25px;
}

.card {
    margin-top: 40px;
}
