<div class="container">
    <div class="row text-center">
        <div class="col">
        <h1>Create A Post:</h1>
        <form method="post" action="/locations/5bbb907f5deb8b1c9573b49a/posts">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="body">Body:</label>
                <input type="text" class="form-control" name="body">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>