<div class="container">
        <div class="divider"></div>
        <div class="section">
          <h5><%= post.title %></h5>
          <div class="divider"></div>
          <blockquote>
                  <p><%= post.body %></p>
                  <br />
                  <p>My favorite place in Hawaii is Honolulu.</p>
                  <br />
                  <p>Kona coffee is the market name for coffee (Coffea arabica) cultivated on the slopes of Hualalai and Mauna Loa in the North and South Kona Districts of the Big Island of Hawaii. It is one of the most expensive coffees in the world. Only coffee from the Kona Districts can be described as "Kona". The weather of sunny mornings, cloud or rain in the afternoon, little wind, and mild nights combined with porous, mineral-rich volcanic soil create favorable coffee growing conditions. The loanword for coffee in the Hawaiian language is kope, pronounced [ˈkope].</p>
          </blockquote>
        </div>
        <div class="divider"></div>
        <h6 class="black-text">Author: <%= post.author %></h6>
    </div>
</div>




